// TODO
.loadingMessage {
    position: absolute;
    left: 50%;
    right: 50%;
    margin-top: 5rem;
    font-size: 1.5rem;
    color: var(--pink-001);

    &.hidden{
        display: none;
    }
}

.imageContainer {
    text-align: center;

    img {
        height: 400px;
    }
}

.post {
    max-width: 720px;
    margin: 5rem auto 3rem;

    h1 {
        font-size: 2.5rem;
        font-weight: 900;
    }


    .boxInfo {
        margin-top: 1.5rem;
        margin-bottom: 4rem;
        color: var(--gray-300);

        .boxIcons {
            display: flex;
            align-items: center;
    
            div {
    
                align-items: center;
                display: flex;
    
                :first-child {
                    padding-right: 0.65rem;
                }
    
                & + div {
                    padding-left: 2.5rem;
                }
            }

            & + time {
                display: block;
                margin-top: .75rem;
                font-style: italic;
            }
        }

        
    }

    

    .content {
        & + .content {
            margin-top: 5rem;
        }
    }

    .bodyContent {
        margin-top: 2rem;
        line-height: 1.5rem;
        font-size: 1rem;
        color: var(--gray-100);

        p, ul {
            margin: 1.5rem 0;
        }

        ul {
            padding-left: 1.5rem;

            li {
                margin: 0.5rem 0;
            }
        }
    }
}

.divisor {
    margin: 4rem 0;
    border: 0.25px solid #d7d7d73b;
}

.navigationPost {
    padding: 0 0 5rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;


    a {
        span {
            display: block;
            padding-bottom: 1rem;

            transition: 0.2s color;

            &:hover:first-child{
                color: var(--pink-002)
            }

            & + span {
                color: var(--pink-001)
            }
        }

        & + a{
            text-align: right;
        }
    }
}

.navigationOnlyNextPost {
    padding: 0 0 5rem 0;
    display: flex;
    align-items: center;
    justify-content: right;


    a {
        span {
            display: block;
            padding-bottom: 1rem;
            text-align: right;

            transition: 0.2s color;

            &:hover:first-child{
                color: var(--pink-002)
            }

            & + span {
                color: var(--pink-001)
            }
        }
    }
}
